/* ==========================
 =========== Register page form */
.h1-my{
  display: flex;
    align-items: righ;
    justify-content: right;
    min-height: 2vh;
}
.h1-container{
  display: flex;
  align-items: right;
  justify-content: right;
  padding-inline-end: 30px;
  background-image: linear-gradient(odeg, #ffdee9 0%, #b5fffc 100%);
  
}

 .form-contrainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    flex-direction: column;
    background-color: #ffdee9;
    background-image: linear-gradient(odeg, #ffdee9 0%, #b5fffc 100%);
  }
  
  
  .form-contrainer form {
    box-shadow: rgba(0, 0, 0, 0.35);
    padding: 25px;
    background-color: #fff;
  }
  .form-contrainer form title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  
  .form-contrainer form input {
    border: 1px solid;
    border-bottom: 1px solid #000;
    border-radius: 0;
  }
  .form-contrainer form label {
    align-items: left;
    
  }


  .form-contrainer form button {
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 250px;
  }
  
  .form-contrainer form button:hover {
    border: 1px solid black;
    background: blue;
    background: -webkit-linear-gradient(to right, #434343, #0000);
  }